.File-Uploader__dropzone {
  border: 2px dashed #a2a2a2;
  border-radius: 8px;
  padding: 16px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.File-Uploader__label {
  font-size: 24px;
  font-weight: 300;
  color: #a2a2a2;
}
