.Notification {
  background-color: #d6eef8;
  border-left: 8px solid;
  border-left-color: #34ace0;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Notification--success {
  background-color: #bcdcd5;
  border-left-color: #218c74;
}

.Notification--error {
  background-color: #d99c9c;
  border-left-color: #b33939;
}
