.App {
  max-width: calc(var(--max-container-width) * 2);
  margin: 0 auto;
  display: flex;
}

.App-Sidebar {
  background-color: var(--blue);
  width: 200px;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-right: 16px;
}

.App-Logo h1 {
  font-size: 24px;
  padding: 16px;
  margin: 0;
  background-color: #323232;
}

.App-Body {
  flex: 1;
  padding: 16px;
}

.App-Nav {
  width: 100%;
  display: flex;
  flex: 1;
}

.App-Nav__list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App-Nav__list a {
  display: block;
  padding: 16px;
  color: #fff;
  position: relative;
}
.App-Nav__list a.is-active {

}
.App-Nav__list a.is-active:after {
  --width: 12px;

  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: var(--width) 0 var(--width) var(--width);
  border-color: transparent transparent transparent var(--blue);
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
  z-index: var(--width);
}

.Button {
  background-color: var(--blue);
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px;
}

.Container {
  max-width: var(--max-container-width);
  margin: 0 auto;
}

.Made-By {
  font-size: 12px;
  margin: 16px;
}
