:root {
  --max-container-width: 1000px;
  --blue: #227093;
}

html {
  font-size: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: var(--blue);
}
a,
a:visited,
a:active {
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

p {
  line-height: 1.75em;
  margin-top: 8px;
  margin-bottom: 24px;
}
