.Table-Grid {
  outline: none;
}

.Table-Row {
  padding-right: 0 !important;
}
.Table-Row:nth-child(odd) {
  background: #f2f2f2;
}

.ReactVirtualized__Table__headerRow {
  background-color: #fff !important;
  border-bottom: 1px solid #d2d2d2;
}

.Table-Cell {
  font-weight: 300 !important;
  font-size: 16px !important;
}

.Table-Column-Header {
  font-weight: 300 !important;
  text-transform: capitalize !important;
}

.Table-Cell,
.Table-Column-Header {
  margin: 16px !important;
}

.Table-Loading,
.Table-No-Rows {
  margin: 16px;
}
